<!-- Edit category -->
<div class="container-fluid">
    <h3 class="fw-bold">Edit category</h3>
    <hr>    
    <div class="row">
        <form th:action="@{/admin/category/edit}" method="post">
            <div class="mb-3">
                <input type="hidden" name="id" th:value="${category.id}">
                <label class="form-label">Category name</label>
                <input type="text" class="form-control" name="categoryName" th:value="${category.name}">
            </div>
            <button type="submit" class="btn btn-success">Update category</button>
        </form>
    </div>
</div>
<!-- Edit category -->