<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title th:text="${page} + ' management page'"></title>
</head>
<body>
    <th:block th:include="/common/header"></th:block>
    <div class="container mt-5" style="min-height: 100vh;">
        <div sec:authorize="isAuthenticated()">
            <h4 class="mt-5" th:inline="text"> Welcome, <b><p sec:authentication="name" th:remove="tag"></p></b></h4>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <a th:href="@{/admin/product}" th:classappend="${page} == 'product' ? 'active' : ''" class=" list-group-item list-group-item-action" aria-current="true">
                        Products
                    </a>
                    <a th:href="@{/admin/account}" th:classappend="${page} == 'account' ? 'active' : ''" class="list-group-item list-group-item-action">
                        Admin accounts
                    </a>
                    <a th:href="@{/admin/brand}" th:classappend="${page} == 'brand' ? 'active' : ''" class="list-group-item list-group-item-action">
                        Brand
                    </a>
                    <a th:href="@{/admin/category}" th:classappend="${page} == 'category' ? 'active' : ''" class="list-group-item list-group-item-action">
                        Category
                    </a>
                    <a th:href="@{/admin/color}" th:classappend="${page} == 'color' ? 'active' : ''" class="list-group-item list-group-item-action">
                        Color
                    </a>
                    <a th:href="@{/admin/order}" th:classappend="${page} == 'order' ? 'active' : ''" class="list-group-item list-group-item-action">
                        Orders
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div th:if="${action} == null">
                    <th:block th:include="'admin/' + ${page}"></th:block>
                </div>
                <div th:if="${action} != null">
                    <th:block th:include="'admin/' + ${action} + '/' + ${page}"></th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="/common/footer"></th:block>
</body>
</html>