<!-- Add category -->
<div class="container-fluid">
    <h3 class="fw-bold">Add category</h3>
    <hr>    
    <div class="row">
        <form th:action="@{/admin/category/add}" method="post">
            <div class="mb-3">
                <label class="form-label">Category name</label>
                <input type="text" class="form-control" name="categoryName">
            </div>
            <button type="submit" class="btn btn-success">Add category</button>
        </form>
    </div>
</div>
<!-- Add category -->