<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        .text-align-start{
            text-align: start;
        }

        .text-align-end{
            text-align: end;
        }

        .inf-container p {
            margin-bottom: 2px;
        }
    </style>
</head>

<body>
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card text-center">
            <div class="card-header pt-3 pb-3">
                Thank you for your order, <b th:if="${savedOrder} != null" th:text="${savedOrder.name}"></b>
            </div>
            <div th:if="${savedOrder} != null" class="card-body">
                <i class="fa-solid fa-circle-check fa-bounce mt-3 mb-3" style="color: #2eaf2c; font-size: 50px;"></i>
                <div class="card-text">
                    <h5 class="card-title">Your order is confirmed!</h5>
                    <p>Order id: <span th:text="${savedOrder.id}"></span></p>
                    <hr>
                    <div class="detail-container p-3">
                        <h5 class="text-align-start fw-bold">Order details:</h5>
                        <div class="inf-container d-flex mt-3">
                            <div class="left-inf me-5">
                                <p class="text-align-start"><b>Fullname: </b><span th:text="${savedOrder.name}"></span></p>
                                <p class="text-align-start"><b>Ordered date: </b><span th:text="${orderedDate}"></span></p>
                                <p class="text-align-start"><b>Address: </b><span th:text="${savedOrder.address}"></span></p>
                            </div>
                            <div class="right-inf">
                                <p class="text-align-end"><b>Phone number: </b><span th:text="${savedOrder.phoneNumber}"></span></p>
                                <p class="text-align-end"><b>Email address: </b><span th:text="${savedOrder.email}"></span></p>
                                <p class="text-align-end"><b>Payment method: </b><span>Cash</span></p>
                                <h5 class="text-align-end mt-5 fw-bold">Total price: <span class="text-danger" th:text="'$' + ${savedOrder.total}"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                <a th:href="@{/home}" class="btn btn-success"><i class="fa-solid fa-arrow-left"></i> Back to home</a>
            </div>
        </div>
    </div>
</body>

</html>